# Target Firebase Admin credentials (new project for restore)
TARGET_FIREBASE_PROJECT_ID=
TARGET_FIREBASE_CLIENT_EMAIL=
TARGET_FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
